@charset "utf-8";

#overlay {
    background-color: #000000;
    opacity: 0.75;
}

.window.window-lightbox {
    border-color: #dddddd;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    cursor: pointer;
    line-height: 0px;
    padding: 0px 0px 0px 0px;
}

.window.window-lightbox.loading {
    background: #f0f0f0 url(../images/loader.gif) no-repeat center center;
    min-height: 110px;
    min-width: 160px;
}

.photos {
    margin: 24px 0px 24px 0px;
}

.photos .photo {
    border: 1px solid #888888;
    cursor: pointer;
    height: 280px;
    margin: 12px 6px 12px 6px;
    vertical-align: middle;
}
